/* TABLE STRUCTURE */
.content-table>table {
    width: 100%;
    overflow: hidden;
    border-radius: 0.15em;
    background-color: white;
    -webkit-animation: slideDownIn 0.5s linear both;
    animation: slideDownIn 0.5s linear both;
}

.content-table>table>caption {
    font-weight: bold;
}

.icon-button {
    font-size: 1.4em;
    margin: 0em .35em;
}

.icon-button:hover {
    cursor: pointer;
    color: gray;
}

@media screen and (max-width: 960px) {
    .content-table>table {
        display: none;
    }
}