.book-edit {
    width: 40em;
    overflow: hidden;
    margin: 1em auto;
    position: relative;
    height: fit-content;
    border-radius: .35em;
    background-color: #07364287;
}

.book-edit .book-input>input:focus,
.book-edit .book-input>select:focus {
    box-shadow: none !important;
}

.book-edit .book-input>select:focus {
    cursor: pointer;
}

/* BOOK LEFT COVER IMAGE*/
.book-edit .book-lcover {
    position: relative;
}

.book-edit .book-lcover>img {
    height: 24em;
    width: 18em;
    filter: brightness(90%);
}

.book-edit .book-lcover>img:hover {
    animation: bright .5s ease;
}

/* BOOK LEFT COVER INPUT*/
.book-edit .book-lcover .book-input>input,
.book-edit .book-lcover .book-input>select {
    background-color: transparent !important;
    border: none;
    width: 10em;
    font-size: 1.1em;
    text-align: start;
    font-weight: bold;
}

.book-edit .book-lcover span {
    position: absolute;
    display: flex;
    align-items: center;
}

.book-edit .book-lcover .title-input-lcover {
    left: 1%;
    top: 75%;
}

.book-edit .book-lcover .author-input-lcover {
    left: 1%;
    top: 80%;
}

.book-edit .book-lcover .category-select-lcover {
    left: 1%;
    top: 90%;
}

.book-edit .book-lcover .category-select-lcover select {
    text-indent: 1px;
    border: none !important;
    outline: none !important;
    padding: 0.35em 0.68201em;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}

.book-edit .book-lcover .book-input input,
.book-edit .book-lcover .book-input select {
    color: #37c6ea;
    padding-left: .2em;
}
/* BOOK RIGHT CONTENT */
.book-edit .book-rcontent {
    padding: 1em;
}

.book-edit .book-rcontent .book-input>input {
    background-color: transparent !important;
    border: none;
    width: 15em;
    text-align: start;
}

.book-edit .book-rcontent .book-input input,
.book-edit .book-rcontent .book-input select {
    color: white;
}

@keyframes bright {
    from {
        filter: brightness(120%) blur(.5em);
    }

    to {
        filter: none;
    }
}

@media screen and (max-width: 680px) {
    .book-edit {
        width: 18em;
    }

    .book-edit>form {
        flex-direction: column;
    }
}