.react-book-form .form-control-input>input,
.react-book-form .form-control-select>select,
.react-book-form .form-control-textarea>textarea {
    text-align: start;
    background-color: white;
}

.react-book-form .form-control-input>span,
.react-book-form .form-control-select>span,
.react-book-form .form-control-textarea>span {
    color: #dc3545 !important;
}

.react-book-form .form-control-submit {
    margin: 1em auto;
    margin-bottom: 0em;
    display: grid;
    gap: 2;
}