.home-page {
    background-image: radial-gradient(#6e6e6ea7, #6e6e6ea7), url(/src/assets/images/HomeBKG.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.book-card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em 0em;
}