.home-page {
    background-image: linear-gradient(#ffffffd6, #ffffffd6),
        url(/src/assets/images/HomeBKG.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;   
    padding: 1em 0em; 
}

.book-card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}